@import "~@patternfly/patternfly/sass-utilities/all.scss";

$pf-global--font-path: "~@patternfly/patternfly/assets/fonts";
$fa-font-path: "~@patternfly/patternfly/assets/fonts/webfonts";
$pf-global--fonticon-path: "~@patternfly/patternfly/assets/pficon";
$pf-global--image-path: "~@patternfly/patternfly/assets/images";

@import "~@patternfly/patternfly/patternfly.scss";
@import "~@patternfly/patternfly/patternfly-addons.scss";

.pf-x-u-color--unset {
  color: unset !important;
}

.pf-c-page__header--centered .pf-c-page__header-nav {
  @extend .pf-u-justify-content-center;
}

.pf-x-u-opacity-muted {
  opacity: 30%;
}

.pf-c-page__header .pf-c-toggle-group__button {
  &.pf-m-selected,
  &:hover,
  &:focus {
    .pf-c-toggle-group__icon {
      color: var(--pf-global--Color--dark-100);
    }
  }
}

.pf-c-drawer__body---centered {
  display: flex;
  flex-direction: column;
}

.pf-x-timestamp-wrapper {
  color: var(--pf-global--Color--200);
}

.pf-x-pagination {
  @media screen and (max-width: calc($pf-global--breakpoint--sm - 1px)) {
    width: 100%;

    .pf-c-toolbar__content-section {
      display: flex;
      justify-content: space-between;
    }
  }
}

.pf-c-nav__link:focus:not(.pf-m-current) {
  @extend .pf-x-u-color--unset;

  &::before {
    display: none;
  }
}

.pf-m-current,
.pf-c-nav__link:hover {
  &:hover:not(.pf-m-current) {
    &::before {
      display: none;
    }
  }

  &.pf-x-navlink {
    &-everything {
      color: #2b9af3;

      &::before {
        border-color: #2b9af3;
      }
    }

    &-hrt {
      color: #6ec664 !important;

      &::before {
        border-color: #6ec664;
      }
    }

    &-ffs {
      color: #009596 !important;

      &::before {
        border-color: #009596;
      }
    }

    &-srs {
      color: #a18fff !important;

      &::before {
        border-color: #a18fff;
      }
    }

    &-domperidone {
      color: #35caed !important;

      &::before {
        border-color: #35caed;
      }
    }

    &-ibutamoren {
      color: #f4c145 !important;

      &::before {
        border-color: #f4c145;
      }
    }

    &-depression {
      color: #ace12e !important;

      &::before {
        border-color: #ace12e;
      }
    }

    &-coming-out {
      color: #ef9234 !important;

      &::before {
        border-color: #ef9234;
      }
    }

    &-substance-use {
      color: #c9190b !important;

      &::before {
        border-color: #c9190b;
      }
    }
  }
}

.pf-x-c-grid--week {
  --pf-l-grid__item--GridColumnEnd: span 7 !important;
  --pf-l-grid--m-gutter--GridGap: 0.5rem;

  grid-template-columns: repeat(7, [col-start] 1fr) !important;
  flex: 1;

  &__header {
    @extend .pf-u-mb-md;

    text-align: center;
  }

  & .pf-l-grid__item {
    @extend .pf-u-px-sm;

    &:not(:first-child) {
      border-width: 0 0 0 1px;
      border-style: dashed;
      border-color: var(--pf-global--Color--400);
    }
  }
}

.pf-c-card--preview {
  &:not(:first-child) {
    @extend .pf-u-mt-sm;
  }
}
