@import "~@patternfly/patternfly/sass-utilities/all.scss";

$pf-global--font-path: "~@patternfly/patternfly/assets/fonts";
$fa-font-path: "~@patternfly/patternfly/assets/fonts/webfonts";
$pf-global--fonticon-path: "~@patternfly/patternfly/assets/pficon";
$pf-global--image-path: "~@patternfly/patternfly/assets/images";

@import "~@patternfly/patternfly/patternfly.scss";
@import "~@patternfly/patternfly/patternfly-addons.scss";

.pf-x-u-color--unset {
  color: unset !important;
}

.pf-c-page__header--centered .pf-c-page__header-nav {
  @extend .pf-u-justify-content-center;
}

.pf-x-u-opacity-muted {
  opacity: 30%;
}

.pf-c-page__header .pf-c-toggle-group__button {
  &.pf-m-selected,
  &:hover,
  &:focus {
    .pf-c-toggle-group__icon {
      color: var(--pf-global--Color--dark-100);
    }
  }
}

.pf-c-drawer__body---centered {
  display: flex;
  flex-direction: column;
}

.pf-x-timestamp-wrapper {
  color: var(--pf-global--Color--200);
}

.pf-x-pagination {
  @media screen and (max-width: calc($pf-global--breakpoint--sm - 1px)) {
    width: 100%;

    .pf-c-toolbar__content-section {
      display: flex;
      justify-content: space-between;
    }
  }
}

.pf-c-nav__link:focus:not(.pf-m-current) {
  @extend .pf-x-u-color--unset;

  &::before {
    display: none;
  }
}

$color--hrt: #6ec664;
$color--ffs: #a2d9d9;
$color--srs: #a18fff;
$color--domperidone: #35caed;
$color--ibutamoren: #f4c145;
$color--depression: #ace12e;
$color--coming-out: #ef9234;
$color--substance-use: #ff7e74;

.pf-m-current,
.pf-c-nav__link:hover {
  &:hover:not(.pf-m-current) {
    &::before {
      display: none;
    }
  }

  &.pf-x-navlink {
    &-hrt {
      color: $color--hrt !important;

      &::before {
        border-color: $color--hrt;
      }
    }

    &-ffs {
      color: $color--ffs !important;

      &::before {
        border-color: $color--ffs;
      }
    }

    &-srs {
      color: $color--srs !important;

      &::before {
        border-color: $color--srs;
      }
    }

    &-domperidone {
      color: $color--domperidone !important;

      &::before {
        border-color: $color--domperidone;
      }
    }

    &-ibutamoren {
      color: $color--ibutamoren !important;

      &::before {
        border-color: $color--ibutamoren;
      }
    }

    &-depression {
      color: $color--depression !important;

      &::before {
        border-color: $color--depression;
      }
    }

    &-coming-out {
      color: $color--coming-out !important;

      &::before {
        border-color: $color--coming-out;
      }
    }

    &-substance-use {
      color: $color--substance-use !important;

      &::before {
        border-color: $color--substance-use;
      }
    }
  }
}

.pf-c-page--background::before {
  content: "";
  background: url("/bg.webp");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(7.5px);
  height: 100%;
  width: 100%;
  position: fixed;
  transform: scale(1.1);
}

.pf-c-page .pf-c-page__main-section {
  background: rgba(255, 255, 255, 0.9);
}

.pf-x-c-grid {
  --pf-l-grid--m-gutter--GridGap: 0.5rem;

  &--week,
  &--month {
    --pf-l-grid__item--GridColumnEnd: span 1 !important;
    grid-template-columns: repeat(1, [col-start] 1fr) !important;

    flex: 1;
  }

  &__header {
    margin-top: var(--pf-global--spacer--md) !important;
    margin-bottom: var(--pf-global--spacer--md) !important;

    text-align: center;
  }

  @media screen and (min-width: $pf-global--breakpoint--lg) {
    &--week {
      --pf-l-grid__item--GridColumnEnd: span 7 !important;
      grid-template-columns: repeat(7, [col-start] 1fr) !important;
    }

    &--month {
      --pf-l-grid__item--GridColumnEnd: span 4 !important;
      grid-template-columns: repeat(4, [col-start] 1fr) !important;
    }

    &--week,
    &--month {
      & .pf-l-grid__item {
        padding-left: var(--pf-global--spacer--sm) !important;
        padding-right: var(--pf-global--spacer--sm) !important;

        &:not(:first-child) {
          border-width: 0 0 0 1px;
          border-style: dashed;
          border-color: var(--pf-global--Color--400);
        }
      }
    }

    &__header {
      margin-top: var(--pf-global--spacer--sm) !important;
    }
  }
}

.pf-x-c-page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pf-c-card--preview {
  &:not(:first-child) {
    @extend .pf-u-mt-sm;
  }
}

.pf-x-c-chip {
  &::before {
    border-bottom-width: 3px !important;
  }

  &--hrt::before {
    border-color: #{$color--hrt} !important;
  }

  &--ffs::before {
    border-color: #{$color--ffs} !important;
  }

  &--srs::before {
    border-color: #{$color--srs} !important;
  }

  &--domperidone::before {
    border-color: #{$color--domperidone} !important;
  }

  &--ibutamoren::before {
    border-color: #{$color--ibutamoren} !important;
  }

  &--depression::before {
    border-color: #{$color--depression} !important;
  }

  &--coming-out::before {
    border-color: #{$color--coming-out} !important;
  }

  &--substance-use::before {
    border-color: #{$color--substance-use} !important;
  }
}
